html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
	--oex-gray: #e6e6e6;
	--oex-orange: #ff4c00;
	--text-colour: black;
	--soo-shadow: 3px 3px 4px 1px #0000002e;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
